Django==5.2.9
Markdown==3.10.1
bleach-allowlist==1.0.3
bleach==6.3.0
django-environ==0.12.0
django-types==0.22.0
gunicorn==25.0.0
isodate==0.7.2
python-magic==0.4.27
smartypants==2.0.2
whitenoise==6.11.0
