Django==5.1.4
Markdown==3.7
bleach-allowlist==1.0.3
bleach==6.2.0
django-environ==0.12.0
django-types==0.20.0
gunicorn==23.0.0
isodate==0.7.2
python-magic==0.4.27
smartypants==2.0.1
whitenoise==6.8.2
