Django==4.2.3
Markdown==3.4.3
bleach-allowlist==1.0.3
bleach==6.0.0
django-environ==0.10.0
django-types==0.17.0
gunicorn==21.2.0
isodate==0.6.1
python-magic==0.4.27
smartypants==2.0.1
whitenoise==6.5.0
