{% extends "registration/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if form.errors %}
<p class="error">
Your username and password didn't match. Please try again.<br/>
If you've forgotten your password, you can 
<a href="{% url 'password_reset' %}">reset</a> it.
</p>
{% endif %}

<p>Note: your username should be the part of your email address before the @.</p>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<h4><span class="title">{{ form.username.label_tag }}</span></h4>
<p>{{ form.username }}</p>
<h4><span class="title">{{ form.password.label_tag }}</span></h4>
<p>{{ form.password }}</p>
<button type="submit">Login</button>
<input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock %}
