{% extends "boilerplate.html" %}

{% block title %}Ryan Shaw{% endblock %}

{% block description %}Associate professor at the University of North Carolina at Chapel Hill.{% endblock %}

{% load static %}
{% load typogrify %}

{% block main %}
<article id="main">
  <div class="bio group">
    <dl>
      <dt>Email</dt>
      <dd>ryanshaw@unc.edu</dd>
      <dt>Twitter</dt>
      <dd><a href="http://twitter.com/rybesh">@rybesh</a></dd>
      <dt>Phone</dt>
      <dd>+1-919-636-9660</dd>
      <dt>Office</dt>
      <dd>025 <a title="find Manning Hall on a map" href="https://goo.gl/maps/CZEmRfdGML92">Manning Hall</a> (ground floor)</dd>
      <dt>Office hours</dt>
      <dd>Regular office hours will resume in August</dd>
<!--
      <dd><a href="https://when.works/invitations/5ffe159aa0731f001424d206">Make an appointment</a></dd>
-->
    </dl>

    <img class="representative" alt="Ryan Shaw" src="{% static "me.jpg" %}" width="300" height="300"/>
    <p class="sweet-justice">
      I'm an associate professor and coordinator of the undergraduate program at the <a href="http://sils.unc.edu/">School of Information and Library Science</a> at the University of North Carolina at Chapel Hill. I <a href="/teaching/">teach</a> courses on the foundations, theory, and practice of information science and information organization. <a href="https://aeshin.org/writing/">Research-wise</a>, I'm interested in how information technologies are used to conceptualize and model our worlds and pasts. I am a member of <a href="http://orgorgorgorgorg.org"><abbr title="Organization Research Group">ORG</abbr></a>.
    </p>
  </div>
</article>
{% endblock %}
