<!doctype html>
{% load static %}
<head>
  <meta charset="utf-8"/>
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="{% block description %}{% endblock %}"/>
  <meta name="author" content="Ryan Shaw"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="google-site-verification" content="g8riOoFr9YcIVDuJArRaZn7iwy3ibL7fKZbdjv9sAAo" />
  <link rel="stylesheet" href="{% static "style.css" %}"/>{% block style %}{% endblock %}{% block links %}{% endblock %}
</head>
<body>
  <header>
    {% load nav %}
    <nav>
      <ul>
        <li><h1>{% navlink request "/" "Ryan Shaw" %}</h1></li>
        <li>{% navlink request "/teaching/" "teaching" %}</li>
        <li>{% navlink request "/writing/" "writing" %}</li>
        <li>{% navlink request "/advising/" "advising" %}</li>
        <li>{% navlink request "/static/Ryan-Shaw-CV.pdf" "cv" %}
      </ul>
    </nav>
  </header>
  <div id="wrapper"{% block wrapperclass %}{% endblock %}>
    {% block main %}{% endblock %}
  </div>
</body>
