<!DOCTYPE html>
<html>
{% load static %}
  <head>
    <title>{{ course }}{% block title %}{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1.0">
    <link rel="stylesheet" href="{% static "courses/base.css" %}" type="text/css"/>
    {% block links %}{% endblock %}
    {% block css %}{% endblock %}
  </head>
  <body>
    <div>
      {% load markdown typogrify %}
      <nav>
        <ul class="nav">
          {% if user.is_superuser %}
          <li><a href="/admin/courses/">Admin.</a>
          {% endif %}
          {% with course.get_absolute_url as course_url %}
          <li><a href="{{ course_url }}">Basic info.</a></li>
          <li><a href="{{ course_url }}schedule/{% if not course.is_archived %}#next{% endif %}">Schedule.</a></li>
          <li><a href="{{ course_url }}assignments/">Assignments.</a></li>
          <li><a href="{{ course_url }}milestones/">Milestones.</a></li>
          <li><a href="{{ course_url }}guidelines/">Guidelines.</a></li>
          {% if user.is_authenticated %}
          <li><a href="{{ course_url }}grades/">Grades.</a></li>
          <li>
            <form method="post" action="{% url 'logout' %}">
              {% csrf_token %}
              <button type="submit">Log out.</button>
            </form>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}?next={{ request.path }}">Log in.</a></li>
          {% endif %}
          {% endwith %}
          {% if course.zulip_url %}
          <li><a class="nohover" href="{{ course.zulip_url }}"><img class="mark" alt="Zulip chat server" src="{% static "courses/zulip.svg" %}"></a></li>
          {% endif %}
          {% if course.github_url %}
          <li><a class="nohover" href="{{ course.github_url }}"><img class="mark" alt="GitHub organization" src="{% static "courses/github.svg" %}"></a></li>
          {% endif %}
        </ul>
      </nav>
      <header>
        <h1>{{ course.title }}</h1>
        <h2>
          <a href="{{ course.department.url }}">{{ course.department }}</a>, {{ course.number }},
          {{ course.get_semester_display }} {{ course.get_year_display }}
        </h2>
      </header>
      {% if messages %}
      <div class="messages">
        {% for message in messages %}
        <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
        {% endfor %}
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>
    <div style="height: 1000px"></div>
  </body>
</html>
