{% extends "boilerplate.html" %}

{% block title %}Ryan Shaw's teaching{% endblock %}

{% block description %}Courses Ryan Shaw has taught.{% endblock %}

{% load markdown typogrify %}

{% block main %}
<div id="main">
  <header>
    <h1>Courses taught</h1>
  </header>
  <ul class="courses index-list">
    {% regroup courses by title as course_list %}
    {% for title in course_list %}
    <li class="course group">
      <h2>
        {{ title.grouper }}
        {% if title.list.0.subtitle %}
        <span class="subtitle">{{ title.list.0.subtitle }}</span>
        {% endif %}
      </h2>
      <div class="sweet-justice">
        {{ title.list.0.blurb|typogrify }}
      </div>
      <h3><a href="{{ title.list.0.get_absolute_url }}">
        {{ title.list.0.get_semester_display }} {{ title.list.0.year }}
      </a></h3>
      {% if title.list|length > 1 %}
      <details>
        <summary>Previous offerings</summary>
        {% for course in title.list|slice:"1:" %}
        <h3><a href="{{ course.get_absolute_url }}">
          {{ course.get_semester_display }} {{ course.year }}
        </a></h3>
        {% endfor %}
      </details>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
