{% extends "base.html" %}

{% load markdown typogrify %}

{% block title %}: {{ student.get_full_name }}{% endblock %}

{% block css %}
<style>
blockquote {
    font-style: italic;
}
ul {
    list-style-type: disc;
}
table p {
    margin-top: 4px;
}
</style>
{% endblock %}

{% block content %}
<h4><span class="title">{{ student.get_full_name }}</span></h4>
<h3>Graded assignments</h3>
{% if assignments %}
<table>
  <tbody>
    <tr>
      <th>Assignments</th>
      <th>Grade</th>
      <th>Class median</th>
    </tr>
{% for assignment in assignments %}
    <tr>
      <td>
        <em>{{ assignment.title }}</em>
        {% if not assignment.is_graded %}
        <br><strong>Not yet released to student</strong>
        {% endif %}
      </td>
      <td>{{ assignment.grade }}</td>
      <td>{{ assignment.median }}</td>
    </tr>
    <tr>
      <td colspan="3">
        {{ assignment.comments|markdown:"unsanitized"|typogrify }}
        {% if assignment.zipfile_url %}
        <a href="{{ assignment.zipfile_url }}">Download files.</a>
        {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% else %}
<p>Nothing to see here yet.</p>
{% endif %}
{% endblock %}
