{% extends "base.html" %}

{% load markdown typogrify %}

{% block title %}: {{ student.get_full_name }}{% endblock %}

{% block content %}
<h3><span class="title">{{ student.get_full_name }}</span></h3>
{% if assignments %}
<table>
  <tbody>
    <tr>
      <th>Assignments</th>
      <th>Grade</th>
      <th>Class median</th>
    </tr>
{% for assignment in assignments %}
    <tr>
      <td><em>{{ assignment.title }}</em></td>
      <td>{{ assignment.grade }}</td>
      <td>{{ assignment.median }}</td>
    </tr>
    <tr>
      <td colspan="3">
        {{ assignment.comments|markdown:"unsafe"|typogrify }}
        {% if assignment.zipfile_url %}
        <a href="{{ assignment.zipfile_url }}">Download files.</a>
        {% endif %}
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% else %}
<p>Nothing to see here yet.</p>
{% endif %}
{% endblock %}
