{% extends "base.html" %}

{% load markdown typogrify %}

{% block title %}: Guidelines{% endblock %}

{% block content %}
{% filter typogrify %}
{% if course.how_to_succeed %}
<section id="how-to-succeed">
<h4><span class="title">How to Succeed in This Course</span></h4>
{{ course.how_to_succeed|markdown }}
</section>
{% endif %}
{% if course.evaluation %}
<section id="evaluation">
<h4><span class="title">Evaluation &amp; Grading</span></h4>
{{ course.evaluation|markdown }}
</section>
{% endif %}
{% if course.participation %}
<section id="participation">
<h4><span class="title">Participation</span></h4>
{{ course.participation|markdown }}
</section>
{% endif %}
<section id="communicating">
<h4><span class="title">Communicating with me</span></h4>
<p><a href="mailto:ryanshaw@unc.edu">Email</a> is the best way to communicate with me outside of class. It is particularly well-suited for short-answer and clarification questions.</p>
<p>I will try my best to respond to you within a 24-hour period, but in some cases it may take 2 to 3 days. Please keep this in mind when you are scheduling your own activities, especially those related to exam or assignment preparation.  If you wait until the day before an exam or assignment due date to ask me a clarification question, there is a good chance that you will not receive a response in time.</p>
<p>If you need assistance understanding a concept or an assignment, or have another potentially complicated question, then please <a target="_blank" href="https://when.works/invitations/5d5af26e5262ec0014381376">make an appointment for my office hours</a> (via Zoom). If you ask a question via email that I believe is better suited for in-person discussion, then I will ask you to make an office hours appointment. If you have questions about how your assignment was evaluated, then you must make an office hours appointment. <strong>I will not discuss your grades or my evaluation of your work via email.</strong></p>
</section>
<section id="honor">
<h4><span class="title">Honor Code</span></h4>
<p>You are expected to know and respect <a target="_blank" href="https://studentconduct.unc.edu/students">UNC Honor Code</a>. Collaboration, discussion, and seeking assistance from other students is encouraged in this class and is not inconsistent with the Honor Code. In the case of written work, all words drawn from others must be <a target="_blank" href="http://guides.lib.unc.edu/citing-information/why-we-cite">attributed appropriately</a>.</p>
</section>
{% endfilter %}
{% endblock %}
