{% extends "base.html" %}

{% load markdown typogrify %}

{% block links %}
{% endblock %}

{% block content %}
{% filter typogrify %}
<section id="instructor-info">
<h4><span class="title">Who's Teaching It</span></h4>
{% for instructor in course.instructors.all %}
<p><a target="_blank" href="{{ instructor.url }}">{{ instructor.name }}</a></p>
{% endfor %}
</section>
<section id="course-info">
<h4><span class="title">When &amp; Where It Is</span></h4>
<p>
{{ course.times }}<br/>
{{ course.location }}
</p>
</section>
<section id="course-desc">
<h4><span class="title">What It Is</span></h4>
{{ course.description|markdown }}
</section>
<section>
<h4><span class="title">Is That All?</span></h4>
<p>Nope! You should probably check out the
<a href="{{ course.get_absolute_url }}guidelines/">guidelines</a>.</p>
</section>
{% endfilter %}
{% endblock %}
