{% extends "base.html" %}

{% load markdown typogrify %}

{% block links %}
{% endblock %}

{% block content %}
{% filter typogrify %}
<section id="instructor-info">
<h4><span class="title">Who's Teaching It</span></h4>
{% for instructor in course.instructors.all %}
<p><a target="_blank" href="{{ instructor.url }}">{{ instructor.name }}</a></p>
{% endfor %}
</section>
<section id="course-info">
<h4><span class="title">When &amp; Where It Is</span></h4>
<p>
{{ course.times }} {{ course.location|markdown }}
</p>
{% if course.recitations %}
<h5>Recitations</h5>
<p>
{{ course.recitations|markdown:"unsanitized" }}
</p>
{% endif %}
</section>
<section id="course-desc">
<h4><span class="title">What It Is</span></h4>
{{ course.description|markdown }}
</section>
<section>
<h4><span class="title">Is That All?</span></h4>
<p>Nope! You should probably check out the
<a href="{{ course.get_absolute_url }}guidelines/">guidelines</a>
and the
<a href="{{ course.get_absolute_url }}schedule/">schedule</a>.</p>
</section>
<section id="ars">
<h4><span class="title">Accessibility Resources</span></h4>
<p>
The university facilitates the implementation of reasonable accommodations, including resources and services, for students with disabilities, chronic medical conditions, a temporary disability or pregnancy complications resulting in barriers to fully accessing courses, programs and activities.
</p>
<p>
Accommodations are determined through the <a href="https://ars.unc.edu">Office of Accessibility Resources and Service (ARS)</a> for individuals with documented qualifying disabilities in accordance with applicable state and federal laws. See the <a href="https://ars.unc.edu">ARS website</a> for contact information or email: <code>ars@unc.edu</code>
</p>
</section>
<section id="caps">
<h4><span class="title">Counseling and Psychological Services</span></h4>
<p>
Counseling and Psychological Services (CAPS) is strongly committed to addressing the mental health needs of a diverse student body through timely access to consultation and connection to clinically appropriate services, whether for short or long-term needs. Go to the <a href="https://caps.unc.edu/">CAPS website</a> or visit their facilities on the third floor of the <a href="https://map.concept3d.com/?id=111#!m/104913">Campus Health Services building</a> for a walk-in evaluation to learn more.
</p>
</section>
<section id="title-ix">
<h4><span class="title">Dealing with Discrimination, Harassment, Violence or Exploitation</span></h4>
<p>
Any student who is affected by discrimination, harassment, interpersonal (relationship) violence, sexual violence, sexual exploitation, or stalking is encouraged to seek resources on campus or in the community. Please contact the Director of Title IX Compliance Adrienne Allison (<code>adrienne.allison@unc.edu</code>), Report and Response Coordinators in the <a href="https://eoc.unc.edu/">Equal Opportunity and Compliance Office</a> (<code>reportandresponse@unc.edu</code>), Counseling and Psychological Services (CAPS; see above), or the <a href="https://gvsc.unc.edu">Gender Violence Services (GVS)</a> Coordinators (<code>gvsc@unc.edu</code>) to discuss your specific needs. <strong>Note that only communication with CAPS or GVS is confidential.</strong> Additional resources are available at <a href="https://safe.unc.edu/">https://safe.unc.edu/</a>.
</p>
</section>
{% endfilter %}
{% endblock %}
