{% extends "base.html" %}

{% load static %}
{% load markdown typogrify %}

{% block title %}: Schedule{% endblock %}

{% comment %}
{% block css %}
<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/blitzer/jquery-ui.css" type="text/css" media="screen"/>
{% endblock %}
{% endcomment %}

{% block content %}
{% if in_flux %}
<p><strong>This schedule is still in flux.</strong> Specifically, the parts in <span class="tentative">gray</span> are subject to change.</p>
{% endif %}
<div id="accordion">
{% for entry in schedule %}
{% if entry.next %}<span id="next"></span>{% endif %}
{% if entry.starts_unit %}
<h3>{{ entry.starts_unit|typogrify }}</h3>
{% if entry.starts_unit.description %}
<div class="description">
{{ entry.starts_unit.description|markdown:"unsafe" }}
</div>
{% endif %}
{% endif %}
<h4 id="on-{{ entry.date|date:"m-d" }}">
{% if entry.is_holiday %}
{% with entry as holiday %}
  <!--<a href="#">-->
    <span class="date">{{ holiday.date|date:"F j" }}</span><br/>
    <span class="title">{{ holiday.name }}</span>
  <!--</a>-->
</h4>
<div>
  <p>No class.</p>
  {% include "assignments_due.include" with assignments_due=holiday.assignments_due %}
</div>
{% endwith %}
{% else %}
{% with entry as meeting %}
  <!--<a href="#">-->
    <span class="date">{{ meeting.date|date:"F j" }}</span><br/>
    <span class="title">{{ meeting.title|typogrify }}</span>
  <!--</a>-->
</h4>
<div class="meeting{% if meeting.is_tentative %} tentative{% endif %}">
  {% filter typogrify %}
  {% include "assignments_due.include" with assignments_due=meeting.assignments_due %}
  {% if meeting.word_count %}
  <p class="word-count">
  Total amount of reading for this week: {{ meeting.word_count }} words
  </p>
  {% endif %}
  <div class="description">{{ meeting.description|markdown }}</div>
  {% if user_is_authorized %}
  {% if meeting.slides %}
  <p>Download <a href="{{ meeting.slides.url }}">slides</a> for this class.</p>
  {% endif %}
  {% endif %}
  {% if meeting.has_readings %}
  <p>To read <strong>before</strong> this class:</p>
  <ol class="readings">
    {% for reading in meeting.reading_list %}
    <li class="reading">
      <div>
        {{ reading.as_html }}
        {% if reading.word_count %}
        <span class="word-count">{{ reading.word_count }} words</span>
        {% endif %}
      </div>
      {% if reading.description %}
      <details>
        <summary><span class="tips">Reading tips</span></summary>
        <div class="description">
        {{ reading.description|markdown }}
        </div>
      </details>
      {% endif %}
    </li>
    {% endfor %}
  </ol>
  {% if meeting.has_ereserves %}
  <p>Readings not linked above are available through <a href="http://eres.lib.unc.edu.libproxy.lib.unc.edu/eres/coursepage.aspx?cid={{ course.ereserves_id }}">ereserves</a>.</p>
  {% endif %}
  {% endif %}
  {% endfilter %}
</div>
{% endwith %}
{% endif %}
{% endfor %}
</div>
{% endblock %}

{% comment %}
{% endcomment %}
