{% extends "base.html" %}

{% load static %}
{% load markdown typogrify %}

{% block title %}: Schedule{% endblock %}

{% block content %}
{% if in_flux %}
<p><strong>This schedule is still in flux.</strong> Specifically, the parts in <span class="tentative">gray</span> are subject to change.</p>
{% endif %}
<div id="accordion">
{% for entry in schedule %}
{% if entry.next %}<span id="next"></span>{% endif %}
{% if entry.starts_unit %}
<h3 id="unit-{{ unit_counter }}">{{ entry.starts_unit|typogrify }}</h3>
{% if entry.starts_unit.description %}
<div class="description">
{{ entry.starts_unit.description|markdown:"unsanitized" }}
</div>
{% endif %}
{% endif %}
{% if entry.is_milestone %}
{% with entry as milestone %}
<div class="highlight">
{% include "milestone.include" with show_description=True %}
{% endwith %}
</div>
{% else %}
{% with entry as meeting %}
<h4 id="on-{{ meeting.date|date:"m-d" }}">
  <span class="date">
    {% if course.is_weekly %}Week starting{% endif %}
    {{ meeting.date|date:"F j" }}
  </span><br/>
  <span class="title">{{ meeting.title|typogrify }}</span>
</h4>
<div class="meeting{% if meeting.is_tentative %} tentative{% endif %}">
  {% filter typogrify %}
  {% if meeting.word_count %}
  <p class="word-count">
  Total amount of required reading for this week: {{ meeting.word_count }} words
  </p>
  {% endif %}
  <div class="description">{{ meeting.description|markdown:"unsanitized" }}</div>
  {% if user_is_authorized %}
  {% if meeting.slides %}
  <p>Download <a href="{{ meeting.slides.url }}">slides</a> for this meeting.</p>
  {% endif %}
  {% endif %}
  {% if meeting.has_readings %}
  <p>To read <strong>before</strong> this meeting:</p>
  <ol class="readings">
    {% for reading in meeting.required_reading_list %}
    {% include "reading_assignment.include" %}
    {% endfor %}
    {% for reading in meeting.optional_reading_list %}
    {% include "reading_assignment.include" with optional=True %}
    {% endfor %}
  </ol>
  {% if meeting.has_ereserves %}
  <p>Readings not linked above are available through <a href="http://eres.lib.unc.edu.libproxy.lib.unc.edu/eres/coursepage.aspx?cid={{ course.ereserves_id }}">ereserves</a>.</p>
  {% endif %}
  {% endif %}
  {% endfilter %}
</div>
{% endwith %}
{% endif %}
{% endfor %}
</div>
{% endblock %}

{% comment %}
{% endcomment %}
