.item {
    text-indent: 0;
    text-decoration: none;
    margin-top: 0.2em;
}
.doctor {
    font-family: CharisSILBold, 'Palatino Linotype', Palatino, 'URW Palladio L', serif;
}
.doctor a { text-decoration: none }
h2 { color: #073642 }
p + h2 { margin-top: 1em }
.note {
    border-top: 1px solid #eee8d5;
    padding-top: .5em;
    margin-top: 2em
}
